/* Configure source file for JRMP reggie */

import net.jini.jrmp.JrmpExporter;

com.sun.jini.reggie {
  initialMemberGroups = new String[] { "${org.openmaji.meemSpaceIdentifier}" };

//minMaxServiceLease = 300000L;  // 5 minutes (default)
  minMaxServiceLease =  60000L;  // 60 seconds

  serverExporter = new JrmpExporter();
  
  multicastAnnouncementInterval = 60000L; // 60 seconds
}
