/* Configuration file for starting non-secure Reggie */

import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {

  private static classpath = "${org.openmaji.jini.jars}${/}reggie.jar";
  private static codebase  = "${http.url}/reggie-dl.jar ${http.url}/jsk-dl.jar";

  // JERI configuration
  private static config = "${org.openmaji.jini.configuration}${/}jeri-reggie.config";

  private static policy = "${reggie.policy}";

  static serviceDescriptors = new ServiceDescriptor[] {
    new NonActivatableServiceDescriptor(
      codebase,
      policy,
      classpath,
      "com.sun.jini.reggie.TransientRegistrarImpl",
      new String[] { config }
    )
  };
}
