/*
 * Login configuration for Maji applications.
 */

/* configuration for Maji authentication */
MajiLogin {
              org.openmaji.implementation.server.security.auth.module.MajiLoginModule  required;
};

/* Edge console authentication */
Console {
              com.majitek.edge.console.security.ConsoleLoginModule  required;
};

DataPoint {
	com.ekoliving.logger.soap.security.EkoLoginModule required;
};